.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 600px;
}
.profile__name {
    font-size: 2em;
    line-height: 50px;
}
.profile__info {
    padding-left: 20px;
    box-shadow: -20px 20px 0 -17px #eee, 20px 20px 0 -20px mediumspringgreen, 20px -20px 0 -17px #eee,  0 0 0 2px mediumspringgreen;
}

.profile__image {
    width: 184px;
    height: 245px;
    padding-left: 20px;
    padding-top: 0px;
    margin-right: 20px;
}